@CHARSET "UTF-8";

/*menu style*/
#index_menu { 
	top:10px;
	clear: both; 
	padding: 10px; 
	width: 1300px; 
	height: 25px; 
	background: url(../image/index_menu.jpg) repeat-x ;
}
.menu{}
.menu ul{
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.menu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*menu-name-style*/
.menu ul li a {
	display: block;
	height: 30px;
	width: 150px;
	margin-right: 5px;
	line-height: 30px;
	font-size: 15px;
	font-style:"楷书";	
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	outline: none;
}
* html .menu ul li a{ 
    display: inline-block;
}
.menu ul li a.selected, .menu ul li a:hover { 
	color: #000000;
	background: url(../image/menu_hover.jpg) no-repeat center;
}