<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>AUI快速完成布局</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style type="text/css">
        .aui-list .aui-list-item-media {
            width: 3rem;
        }
    </style>
</head>
<body>
    <section class="aui-content" id="content">
        <ul class="aui-list aui-media-list">
            <li v-for="(item,cindex) in moments" class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img :src="users.head"/>
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title" style="color:#4c5276">{{users.nickname}}</div>
                        </div>
                        <div class="aui-list-item-text" style="color:#333;">
                            {{item.text}}
                        </div>
                        <div class="aui-list-item-text">
                            <div class="aui-row-padded" style="max-width:90%;">
                                <div v-for='image in item.images' class="aui-col-xs-4">
                                    <img :src='image' />
                                </div>
                            </div>
                        </div>
                        <div class="aui-info aui-font-size-12" style="padding-top:0; padding-bottom:0">
                            <div class="aui-info-item">{{item.createTime}}</div>
                            <div class="aui-info-item">
                                <i class="aui-iconfont aui-icon-comment"  style="color:#4c5276"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</body>
<script type="text/javascript" src="../script/api.js" ></script>
<script type="text/javascript" src="../script/vue.min.js" ></script>
<script type="text/javascript">
    function updateData() {
        api.ajax({
            url: window.host+'/MomentServlet/findAll',
            method: 'post',
            data: {
                values: { 
                    openId: window.openId
                }
            }
        }, function(ret, err) {
            if (ret && ret.status != 'ERR') {
                window.app.moments=ret.moments
            } else {
                if (ret) {
                    alert(ret.statusInfo)
                } else {
                    alert(err.msg)
                }
            }
        });
    }
    function initData() {
        window.host='http://101.200.54.63:8080'
        if (api.getStorage('user')) {
            window.openId=$api.getStorage('user').openId
            window.head=$api.getStorage('user').head
            window.nickname=$api.getStorage('user').nickname
        }
        api.addEventListener({name:'viewappear'}, function (ret, err) {
          updateData()
        })
    }
    apiready = function(){
        initData()
        window.app=new Vue({
            el:'#content',
            data:{
                moments:[],
                users:{
                    openId:window.openId,
                    head:window.head,
                    nickname:window.nickname,
                }
            }
        })
        updateData()
    }
</script>
</html>